<img src='/assets/media/winnebagoView24.jpg'>
<h4>Our epic RV trip</h4>
<p>
<small>
  We will be traveling from home (Louisville, KY), all the way to Olympic National park on the Pacific Ocean.
  Our route will cover over 5300 miles with
  stops in places like Mt Rushmore, Yellowstone and Glacier National Park.
  We plan to drive no more than 4 or 5 hours at a time, and take in all the sights and experiences that we can squeeze in along the way.
  We hope to tell the story as it unfolds here in blog posts and photos.
</small>
</p>
